In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('ExperimentLab2.db')

In [3]:
cur=conn.cursor()

In [4]:
cur.execute('''CREATE TABLE stock(data text, trans text, symbol text, qty real, price real)''')

In [6]:
cur.execute("INSERT INTO stock VALUES('2006-01-05','BUY','RHAT',100,35.14)")

In [7]:
purchases = [('2006-03-28','BUY','IBM',1000,45.00),
             ('2006-04-05','BUY','MSFT',1000,72.00),
             ('2006-04-06','SELL','IBM',500,53.00),
            ]
cur.executemany('INSERT INTO stock VALUES (?,?,?,?,?)', purchases)

In [8]:
for row in cur.execute('SELECT * FROM stock'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)

In [9]:
for row in cur.execute('SELECT * FROM stock ORDER BY price'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [10]:
cur.execute("UPDATE stock set trans= 'BUY' WHERE price = 72.00")

In [11]:
conn.commit()
conn.close()